%table.table.table-striped.table-bodered
  %tr
    %th
      Sr No.
    %th
      Patient Name
    %th
      Mobile Number
    %th
      Doctor
    %th
      Appointment Date
  - @appointments.each_with_index do |appointment,i| 
    %tr
      %td
        = i+1
      %td
        = link_to patient_path(id: appointment.patient.id) do
          #{appointment.patient.name.capitalize}
      %td
        = appointment.patient.mobilenumber
      %td
        = link_to physician_path(id: appointment.physician.id) do 
          Dr. #{appointment.physician.name}
      %td
        = appointment.appointment_date.strftime("%d %b %y, %I:%M %p ")




