%h3 Appointment List
= render 'list'
= link_to new_appointment_path,class: "" do
  Add Appointment
|
= link_to new_patient_path,class: "" do
  Add Patient
|
= link_to new_physician_path,class: "" do
  Add Physician
|
= link_to patients_path,class: "" do
  View Patient List
|  
= link_to physicians_path,class: "" do
  View Physician List



