%h3 Listing Appointment
%p Appointment Date & Time: #{@appointment.appointment_date.strftime("%d %b %y, %I:%M %p ")}
%p Patient Details: #{@appointment.patient.name} #{@appointment.patient.mobilenumber}
%p with Dr. #{@appointment.physician.name}

= link_to appointments_path do
  Home

